@* Copyright (c) 2021 Xomega.Net. All rights reserved. *@

<div class="alert-secondary p-1">
    <h6 class="d-inline">
        @Title
        @if (AppliedCriteria != null)
        {
            <span class="small text-muted fw-normal">
                -
                @for (var i = 0; i < AppliedCriteria.Count; i++)
                {
                    var data = AppliedCriteria[i];
                    if (i > 0)
                    {
                        <span class="condition mx-3">AND</span>
                    }
                    <span class="cs-criteria">
                        <span class="cs-field">@data.Label</span>
                        <span class="@(data.Value.Length > 0 ? "cs-operator" : "cs-value")">@data.Operator</span>
                        @if (data.Value.Length > 0)
                        {
                            <span class="cs-value ms-1">@data.Value[0]</span>
                        }
                        @if (data.Value.Length > 1)
                        {
                            <span class="cs-range-join mx-1">and</span><span class="cs-value">@data.Value[1]</span>
                        }
                    </span>
                }
                @if (AppliedCriteria.Count == 0)
                {
                    <span>None</span>
                }
            </span>
        }
    </h6>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<FieldCriteriaSetting> AppliedCriteria { get; set; }
}