@* Copyright (c) 2023 Xomega.Net. All rights reserved. *@

@using Xomega.Framework.Criteria

@inherits CriteriaSummary

<div class="row g-0 mb-2">
    <button type="button" class="col-auto me-2 btn btn-outline-secondary btn-sm @(CriteriaCollapsed ? "" : "d-none")"
            @onclick="@CriteriaToggleClicked">
        <i class="bi bi-funnel-fill"></i>
    </button>
    <div class="col d-grid">
        <CriteriaSummary Title="@Title" AppliedCriteria="@AppliedCriteria"
            @bind-CriteriaCollapsed:get="CriteriaCollapsed" @bind-CriteriaCollapsed:set="CriteriaCollapsedChanged" />
    </div>
    <button type="button" class="col-auto ms-2 btn btn-outline-secondary btn-sm" @onclick="@RefreshClicked">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
</div>

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnRefresh { get; set; }

    public async Task RefreshClicked(MouseEventArgs args) => await OnRefresh.InvokeAsync(args);
}
