@* Copyright (c) 2022 Xomega.Net. All rights reserved. *@

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Xomega.Framework
@using Xomega.Framework.Lookup

@inherits XSfOptionsComponent<Header>

@if (IsVisible)
{
    <div class="@Class">
        <SfTooltip Content="@ErrorsText" CssClass="@ErrorClass" OnOpen="OnTooltipOpen" Position="@TooltipPosition">
            <SfAutoComplete TValue="string" TItem="Header" Enabled="@(IsEditable)"
                            @attributes="@AdditionalAttributes" CssClass="@StateClass"
                            Value="GetStringValue()" ShowClearButton="@(!IsRequired)" AllowCustom="AllowCustomValue"
                            DataSource="AvailableItems" AllowFiltering="AllowFiltering"
                            Placeholder="@PlaceholderText" FloatLabelType="@FloatLabelType">
                <AutoCompleteEvents TValue="string" TItem="Header" OnActionComplete="OnActionComplete"
                                    Focus="() => OnFocus(null)" Blur="() => OnBlur(null)"
                                    ValueChange="OnValueChanged" CustomValueSpecifier="OnCustomValue" />
                <AutoCompleteFieldSettings Text="Text" Value="Id" GroupBy="@GroupByAttribute" />
                <AutoCompleteTemplates GroupTemplate="GroupTemplate" ItemTemplate="Template" />
            </SfAutoComplete>
        </SfTooltip>
    </div>
}

@code
{
    protected override async Task OnParametersSetAsync()
    {
        AllowFiltering = true;
        await base.OnParametersSetAsync();
    }
}
