@* Copyright (c) 2025 Xomega.Net. All rights reserved. *@

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Xomega.Framework

@inherits XSfOptionsComponent<Header>

@if (IsVisible)
{
<div class="@Class">
    <SfTooltip Content="@ErrorsText" CssClass="@ErrorClass" OnOpen="OnTooltipOpen" Position="@TooltipPosition">
        <SfComboBox TValue="string" TItem="Header" Enabled="@(IsEditable)"
                    @attributes="@AdditionalAttributes" CssClass="@StateClass"
                    Value="GetStringValue()" ShowClearButton="@(!IsRequired)" AllowCustom="AllowCustomValue"
                    DataSource="AvailableItems" AllowFiltering="AllowFiltering"
                    Placeholder="@PlaceholderText" FloatLabelType="@FloatLabelType">
            <ComboBoxEvents TValue="string" TItem="Header" OnActionComplete="OnActionComplete"
                            Focus="() => OnFocus(null)" Blur="() => OnBlur(null)"
                            ValueChange="OnValueChanged" CustomValueSpecifier="OnCustomValue" />
            <ComboBoxFieldSettings Text="Text" Value="Id" GroupBy="@GroupByAttribute" />
            <ComboBoxTemplates GroupTemplate="GroupTemplate" ItemTemplate="Template" />
        </SfComboBox>
        <div class="@ErrorsClass">@ErrorsText</div>
    </SfTooltip>
</div>
}

@code
{
    // always update on custom value selection, since it's reported as not interacted.
    protected override bool ShouldUpdateValue<TValue>(ChangeEventArgs<TValue, Header> args) =>
        AllowCustomValue || base.ShouldUpdateValue(args);
}
