@* Copyright (c) 2022 Xomega.Net. All rights reserved. *@

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Xomega.Framework

@inherits XSfOptionsComponent<Header>

@if (IsVisible)
{
<div class="@Class">
    <SfTooltip Content="@ErrorsText" CssClass="@ErrorClass" OnOpen="OnTooltipOpen" Position="@TooltipPosition">
        <SfComboBox TValue="string" TItem="Header" Enabled="@(IsEditable)" AllowCustom="AllowCustom"
                    @attributes="@AdditionalAttributes" CssClass="@StateClass"
                    Value="GetStringValue()" ShowClearButton="@(!IsRequired)"
                    DataSource="AvailableItems" AllowFiltering="AllowFiltering"
                    Placeholder="@PlaceholderText" FloatLabelType="@FloatLabelType">
            <ComboBoxEvents TValue="string" TItem="Header"
                            Focus="() => OnFocus(null)" Blur="() => OnBlur(null)"
                            ValueChange="OnValueChanged" CustomValueSpecifier="OnCustomValue" />
            <ComboBoxFieldSettings Text="Text" Value="Id" GroupBy="@GroupByAttribute" />
            <ComboBoxTemplates GroupTemplate="GroupTemplate" ItemTemplate="ItemDisplayTemplate" />
        </SfComboBox>
    </SfTooltip>
</div>
}

@code
{
    [Parameter] public bool AllowCustom { get; set; }
}
