@* Copyright (c) 2023 Xomega.Net. All rights reserved. *@

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups
@using Xomega.Framework

@inherits XSfOptionsComponent<Header>

@if (IsVisible)
{
    <div class="@Class">
        <SfTooltip Content="@ErrorsText" CssClass="@ErrorClass" OnOpen="OnTooltipOpen" Position="@TooltipPosition">
            <SfDropDownList TValue="string" TItem="Header" Enabled="@(IsEditable)"
                            @attributes="@AdditionalAttributes" CssClass="@StateClass"
                            Value="GetStringValue()" ShowClearButton="@(!IsRequired)"
                            DataSource="AvailableItems" AllowFiltering="AllowFiltering"
                            Placeholder="@PlaceholderText" FloatLabelType="@FloatLabelType">
                <DropDownListEvents TValue="string" TItem="Header" OnActionComplete="OnActionComplete"
                                    Focus="() => OnFocus(null)" Blur="() => OnBlur(null)" ValueChange="OnValueChanged" />
                <DropDownListFieldSettings Text="Text" Value="Id" GroupBy="@GroupByAttribute" />
                <DropDownListTemplates GroupTemplate="GroupTemplate" ItemTemplate="Template" ValueTemplate="ValueTemplate" />
            </SfDropDownList>
            <div class="@ErrorsClass">@ErrorsText</div>
        </SfTooltip>
    </div>
}