<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@AdditionalAssemblies">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            @*<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <NotAuthenticated />
                    }
                    else
                    {
                        <LayoutView>
                            <div class="d-flex flex-column align-items-center justify-content-evenly w-100">
                                <div class="alert alert-danger">You are not authorized to access this page.</div>
                            </div>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>*@
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    public static System.Reflection.Assembly[] AdditionalAssemblies { get; set; }
}